/* Universal styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /*border: 1px dotted red;*/
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: justify;
    color: #000000;
    background-color: #ffff00;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    filter: brightness(75%);
}

address {
    color:#a9a9a9
}

/* Nav styles */
.menu {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffff00;
    background-color: #000000;
    list-style: none;
}

/* Banner styles */
.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-img {
    width: 100%;
}

.filter {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #000000;
    opacity: .5;
}

.logo {
    position: absolute;
    text-align: center;
}

.title {
    font-family: 'Suez One', serif;
    font-size: 5rem;
    color: #ffffff;
}

.icon {
    height: 5rem;
    filter: invert(100%);
}

/* About styles */
#about, #venues {
    margin: 2rem
}

.heading {
    font-family: 'Roboto Slab', serif;
}

.slideshow {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.slide {
    width: 33%;
}

/* Testimonial styles */
#testimonial {
    padding: 2rem 2rem 6rem 2rem;
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    color: #ffff00;
    background-color: #000000;
}

.source {
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    color: #a9a9a9;
}

/* Venue styles */
#venues {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.locations {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 25%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    padding: 2rem 1rem;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
}

.when {
    margin-top: 1rem;
    color: #ffff00;
}

@media only screen and (orientation: portrait) {
    .menu {
        height: 40px;
        font-size: 1.25rem;
    }

    .title {
        font-size: 3rem;
    }

    .icon {
        height: 3rem
    }

    .slideshow {
        flex-direction: column;
    }

    .slide {
        width: 100%;
        margin-bottom: .25rem;
    }

    .slide:last-child {
        margin-bottom: 0;
    }

    .locations {
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 80%;
        font-size: 1.5rem;
    }
}