* {
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/ 
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

.title {
    font-size: 3rem;
    color: red;
}

.fa-d-and-d {
    height: 2rem;
}

.container {
    height: 10rem;
    width: 490px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem auto;
    border: 1px solid red
}

#item {
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
}

#link {
    color: inherit;
    text-decoration: none;
}

#link:hover {
    text-decoration: underline;
}

#d100 {
    border: none;
    border-radius: .25rem;
    padding: 1rem;
    color: white;
    background-color: red;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

#d100:hover,
#d100:focus {
    filter: brightness(.9);
}