* {
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    color: #ffffff;
    background-color: #121212;
    font-family: 'Noto Sans', sans-serif;
}

.banner {
    display: flex;
    flex-direction: column;
}

.logo {
    height: 5rem;
    object-fit: contain;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #979AA4;
    text-transform: uppercase;
}

.randomiser {
    min-height: 10rem;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem auto;
    border: 1px solid red;
    padding: 1rem;
}

#item {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
}

#link {
    color: inherit;
    text-decoration: none;
}

#link:hover,
#link:focus {
    text-decoration: underline;
}

#link:active {
    color: #979AA4
}

#d100 {
    border: 1px solid red;
    border-radius: .25rem;
    padding: 1rem;
    color: white;
    background-color: red;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

#d100:active {
    background-color: #E20000;
}

@media only screen and (orientation: portrait) {
    .randomiser {
        width: 100%;
    }
}