html {
    scroll-behavior: smooth;
}

body {
    background-color: #FEEDDE;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

h1 {
    color: #2A00DE;
    font-family: Georgia, serif;
    text-align: center;
}

ul {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0 1em;
    list-style: none;
    line-height: 1.5;
}

li a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

li a:hover {
    color: #2A00DE;
}

li a:active {
    color: #FECC0A
}

table {
    width: 80%;
    margin: 0 auto;
    border: 2px solid #000000;
    border-collapse: collapse;
    background-color: #ffffff;
}

thead {
    border-bottom: 2px solid #000000;
    background-color: #FECC0A;
    font-family: Georgia, serif;
}

th {
    border: 1px solid #000000;
    padding: .25em .5em;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

td {
    border: 1px solid #000000;
    padding: .25em .5em;
}

.tag {
    font-family: monospace;
    font-weight: bold;
}

tfoot {
    background-color: #FECC0A;
    text-align: center;
}

.top {
    color: #000000;
    text-decoration: none;
}

.top:hover {
    color: #2A00DE;
}

.top:active {
    opacity: .5;
}