html {
    scroll-behavior: smooth;
}

body {
    background-color: #FEEDDE;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

h1 {
    font-family: Georgia, serif;
    text-align: center;
    color: #2A00DE;
}

nav {
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    width: 1em;
    border-radius: 1em;
    padding: 1em .5em;
    background-color: rgba(128, 128, 128, .2);
    line-height: 1.5;
    text-align: center;
    list-style: none;
}

a {
    color: hsl(251.4, 100%, 43.5%);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: hsl(251.4, 100%, 68.5%);
}

a:active {
    color: hsl(251.4, 100%, 18.5%);
}

table {
    width: 80%;
    margin: 0 auto;
    border: 2px solid #000000;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: -5px 5px #000000;
    text-align: center;
}

thead {
    border-bottom: 2px solid #000000;
    background-color: #FECC0A;
    font-family: Georgia, serif;
}

th {
    border: 1px solid #000000;
    padding: .25em .5em;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

td {
    border: 1px solid #000000;
    padding: .25em .5em;
}

td:last-child {
    text-align: left;
}

tfoot {
    border: 2px solid #000000;
    background-color: #FECC0A;
    text-align: center;
}

.blurb {
    width: 80%;
    margin: 1em auto;
}

.tag {
    font-family: monospace;
    font-weight: bold;
}

.serif {
    font-family: Georgia, serif;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}