* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
}

.banner {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.screen {
    height: 200px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .25);
}

h1 {
    
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

main {
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
}

.title {
    margin: 20px 0;
    padding: 5px 10px;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes {
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: lightblue;
}

.card {
    display: flex;
}

.card-img {
    width: 200px;
}

.blurb {
    margin-left: 20px;
    position: relative;
    text-align: justify;
}

.subtitle {
    margin-bottom: 1rem;
}

.price {
    position: absolute;
    right: 0;
    bottom: 0;
    font-weight: bold;
    color: blue;
}

@media only screen and (max-width: 1150px) {
    h1 {
        font-size: 90px;
    }
}

@media only screen and (max-width: 950px) {
    h1 {
        font-size: 70px;
    }
}

@media only screen and (orientation: portrait) {
    h1 {
        font-size: 50px;
    }

    .card {
        flex-direction: column;
    }

    .card-img {
        width: 100%;
    }

    .blurb {
        margin-left: 0;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
}