* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
}

.banner {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

h1 {
    width: 100%;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    position: absolute;
}

main {
    width: 75%;
    margin: auto;
}

.title {
    margin: 20px 0;
    padding: 5px 10px;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes {
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.card {
    display: flex;
}

.card-img {
    width: 200px;
}

.blurb {
    margin-left: 20px;
    position: relative;
    text-align: justify;
}

.subtitle {
    margin-bottom: 1rem;
}

.price {
    position: absolute;
    right: 0;
    bottom: 0;
    font-weight: bold;
    color: blue;
}