/* Universal styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  background-color: rgb(180, 221, 213);
}

/* Header styles */
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: 'Playfair Display', Georgia, serif;
  font-size: 3rem;
  color: rgb(8, 20, 58);
}

.subtitle {
  font-family: 'Source Sans 3', Helvetica, sans-serif;
  font-size: 1.5rem;
  color: rgb(246, 131, 48);
}

.socials {
  display: flex;
  margin: 1rem auto;
}

.fa-brands {
  margin: 0 2rem;
  font-size: 1.5rem;
  color: rgb(8, 20, 58);
}

.fa-brands:hover {
  color: rgb(246, 131, 48);
}

.fa-brands:active {
  filter: brightness(90%);
}